@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
#hero{
  border-bottom-left-radius: 24px;
}
body {
  font-size: 18px; 
}

ul {
  font-size: 18px; 
}

li {
  font-size: 18px;
}
.register{
  background-color: rgb(244, 243, 243);

}